@import url('https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap');

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */

/**
 * Removes the default spacing and border for appropriate elements.
 */

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Tailwind custom reset styles
 */

/**
 * 1. Use the user's configured `sans` font-family (with Tailwind's default
 *    sans-serif font stack as a fallback) as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 *    to override it to ensure consistency even when using the default theme.
 */

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */
  line-height: 1.5; /* 2 */
}

/**
 * 1. Prevent padding and border from affecting element width.
 *
 *    We used to set this in the html element and inherit from
 *    the parent element for everything else. This caused issues
 *    in shadow-dom-enhanced elements like <details> where the content
 *    is wrapped by a div with box-sizing set to `content-box`.
 *
 *    https://github.com/mozdevs/cssremedy/issues/4
 *
 *
 * 2. Allow adding a border to an element by just adding a border-width.
 *
 *    By default, the way the browser specifies that an element should have no
 *    border is by setting it's border-style to `none` in the user-agent
 *    stylesheet.
 *
 *    In order to easily add borders to elements by just setting the `border-width`
 *    property, we change the default border-style for all elements to `solid`, and
 *    use border-width to hide them instead. This way our `border` utilities only
 *    need to set the `border-width` property instead of the entire `border`
 *    shorthand, making our border utilities much more straightforward to compose.
 *
 *    https://github.com/tailwindcss/tailwindcss/pull/116
 */

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #000000; /* 2 */
}

/*
 * Ensure horizontal rules are visible by default
 */

hr {
  border-top-width: 1px;
}

/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #a0aec0;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #a0aec0;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #a0aec0;
}

input::placeholder,
textarea::placeholder {
  color: #a0aec0;
}

button,
[role="button"] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.
 */

a {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Reset form element properties that are easy to forget to
 * style explicitly so you don't inadvertently introduce
 * styles that deviate from your design system. These styles
 * supplement a partial reset that is already applied by
 * normalize.css.
 */

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

/**
 * Use the configured 'mono' font family for elements that
 * are expected to be rendered with a monospace font, falling
 * back to the system monospace stack if there is no configured
 * 'mono' font family.
 */

pre,
code,
kbd,
samp {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/**
 * Make replaced elements `display: block` by default as that's
 * the behavior you want almost all of the time. Inspired by
 * CSS Remedy, with `svg` added as well.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

/**
 * Constrain images and videos to the parent width and preserve
 * their instrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
video {
  max-width: 100%;
  height: auto;
}

.container{
  width: 100%;
}

@media (min-width: 640px){
  .container{
    max-width: 640px;
  }
}

@media (min-width: 768px){
  .container{
    max-width: 768px;
  }
}

@media (min-width: 1024px){
  .container{
    max-width: 1024px;
  }
}

@media (min-width: 1280px){
  .container{
    max-width: 1280px;
  }
}

.bg-white{
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
}

.bg-blue-900{
  --bg-opacity: 1;
  background-color: #2a4365;
  background-color: rgba(42, 67, 101, var(--bg-opacity));
}

.bg-opacity-25{
  --bg-opacity: 0.25;
}

.border-gray-200{
  --border-opacity: 1;
  border-color: #edf2f7;
  border-color: rgba(237, 242, 247, var(--border-opacity));
}

.focus\:border-theme-color:focus{
  --border-opacity: 1;
  border-color: #361CC1;
  border-color: rgba(54, 28, 193, var(--border-opacity));
}

.rounded{
  border-radius: 0.25rem;
}

.rounded-lg{
  border-radius: 0.5rem;
}

.border-2{
  border-width: 2px;
}

.border-t{
  border-top-width: 1px;
}

.block{
  display: block;
}

.inline-block{
  display: inline-block;
}

.flex{
  display: flex;
}

.hidden{
  display: none;
}

.items-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.content-start{
  align-content: flex-start;
}

.font-light{
  font-weight: 300;
}

.font-normal{
  font-weight: 400;
}

.font-bold{
  font-weight: 700;
}

.h-full{
  height: 100%;
}

.text-xl{
  font-size: 1.25rem;
}

.text-2xl{
  font-size: 1.5rem;
}

.text-4xl{
  font-size: 2.25rem;
}

.leading-tight{
  line-height: 1.25;
}

.leading-snug{
  line-height: 1.375;
}

.m-auto{
  margin: auto;
}

.mx-4{
  margin-left: 1rem;
  margin-right: 1rem;
}

.mb-1{
  margin-bottom: 0.25rem;
}

.mt-2{
  margin-top: 0.5rem;
}

.ml-2{
  margin-left: 0.5rem;
}

.mb-3{
  margin-bottom: 0.75rem;
}

.mr-4{
  margin-right: 1rem;
}

.mb-4{
  margin-bottom: 1rem;
}

.mb-5{
  margin-bottom: 1.25rem;
}

.mr-6{
  margin-right: 1.5rem;
}

.mb-6{
  margin-bottom: 1.5rem;
}

.mt-8{
  margin-top: 2rem;
}

.mb-8{
  margin-bottom: 2rem;
}

.mt-10{
  margin-top: 2.5rem;
}

.mt-12{
  margin-top: 3rem;
}

.mb-12{
  margin-bottom: 3rem;
}

.ml-12{
  margin-left: 3rem;
}

.mr-24{
  margin-right: 6rem;
}

.mr-auto{
  margin-right: auto;
}

.-ml-8{
  margin-left: -2rem;
}

.hover\:opacity-100:hover{
  opacity: 1;
}

.focus\:outline-none:focus{
  outline: 0;
}

.overflow-hidden{
  overflow: hidden;
}

.p-8{
  padding: 2rem;
}

.py-3{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-5{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-6{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-8{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pl-0{
  padding-left: 0;
}

.pl-6{
  padding-left: 1.5rem;
}

.pb-8{
  padding-bottom: 2rem;
}

.pt-10{
  padding-top: 2.5rem;
}

.pr-10{
  padding-right: 2.5rem;
}

.pb-10{
  padding-bottom: 2.5rem;
}

.pt-20{
  padding-top: 5rem;
}

.pb-20{
  padding-bottom: 5rem;
}

.pt-24{
  padding-top: 6rem;
}

.pt-32{
  padding-top: 8rem;
}

.pr-40{
  padding-right: 10rem;
}

.pt-120{
  padding-top: 120px;
}

.pb-120{
  padding-bottom: 120px;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.sticky{
  position: -webkit-sticky;
  position: sticky;
}

.top-0{
  top: 0;
}

.right-0{
  right: 0;
}

.bottom-0{
  bottom: 0;
}

.left-0{
  left: 0;
}

.top-100{
  top: 100%;
}

.resize{
  resize: both;
}

.shadow{
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.shadow-md{
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.shadow-xl{
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.text-center{
  text-align: center;
}

.text-white{
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
}

.text-gray-900{
  --text-opacity: 1;
  color: #1a202c;
  color: rgba(26, 32, 44, var(--text-opacity));
}

.text-theme-color{
  --text-opacity: 1;
  color: #361CC1;
  color: rgba(54, 28, 193, var(--text-opacity));
}

.text-theme-color-2{
  --text-opacity: 1;
  color: #FC0000;
  color: rgba(254, 122, 123, var(--text-opacity));
}

.hover\:text-theme-color:hover{
  --text-opacity: 1;
  color: #361CC1;
  color: rgba(54, 28, 193, var(--text-opacity));
}

.hover\:text-theme-color-2:hover{
  --text-opacity: 1;
  color: #FE7A7B;
  color: rgba(254, 122, 123, var(--text-opacity));
}

.w-40{
  width: 10rem;
}

.w-4\/5{
  width: 80%;
}

.w-full{
  width: 100%;
}

.z-10{
  z-index: 10;
}

.z-20{
  z-index: 20;
}

.duration-300{
  transition-duration: 300ms;
}

@-webkit-keyframes spin{
  to{
    transform: rotate(360deg);
  }
}

@keyframes spin{
  to{
    transform: rotate(360deg);
  }
}

@-webkit-keyframes ping{
  75%, 100%{
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes ping{
  75%, 100%{
    transform: scale(2);
    opacity: 0;
  }
}

@-webkit-keyframes pulse{
  50%{
    opacity: .5;
  }
}

@keyframes pulse{
  50%{
    opacity: .5;
  }
}

@-webkit-keyframes bounce{
  0%, 100%{
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8,0,1,1);
            animation-timing-function: cubic-bezier(0.8,0,1,1);
  }

  50%{
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0,0,0.2,1);
            animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

@keyframes bounce{
  0%, 100%{
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8,0,1,1);
            animation-timing-function: cubic-bezier(0.8,0,1,1);
  }

  50%{
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0,0,0.2,1);
            animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-family: 'Poppins', sans-serif;
}

p {
  font-size: 16px;
  line-height: 24px;
  --text-opacity: 1;
  color: #4a5568;
  color: rgba(74, 85, 104, var(--text-opacity));
}

.container {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.navbar-area {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 40;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transition-duration: 300ms;
  background-color: transparent;
}

.sticky {
  position: fixed;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

@media (max-width: 1024px) {
  .navbar-area {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.collapse.show {
  display: block;
}

.toggler-icon {
  position: relative;
  display: block;
  transition-duration: 300ms;
  --bg-opacity: 1;
  background-color: #000;
  background-color: rgba(0, 0, 0, var(--bg-opacity));
  height: 2px;
  width: 30px;
  margin: 6px 0;
}

.sticky .toggler-icon {
  --bg-opacity: 1;
  background-color: #1a202c;
  background-color: rgba(26, 32, 44, var(--bg-opacity));
}

.active>.toggler-icon:nth-child(1) {
  --transform-translate-x: 0;
  --transform-translate-y: 0;
  --transform-rotate: 0;
  --transform-skew-x: 0;
  --transform-skew-y: 0;
  --transform-scale-x: 1;
  --transform-scale-y: 1;
  transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
  --transform-rotate: 45deg;
  top: 7px;
}

.active>.toggler-icon:nth-child(2) {
  opacity: 0;
}

.active>.toggler-icon:nth-child(3) {
  top: -8px;
  transform: rotate(135deg);
}

.navbar-nav .nav-item a {
  position: relative;
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  --text-opacity: 1;
  text-transform: capitalize;
  transition-duration: 300ms;
}

.sticky .navbar-nav .nav-item a {
  --text-opacity: 1;
  color: #1a202c;
  color: rgba(26, 32, 44, var(--text-opacity));
}

.show .navbar-nav .nav-item a {
  --text-opacity: 1;
  color: #1a202c;
  color: rgba(26, 32, 44, var(--text-opacity));
}

.show .navbar-nav .nav-item.active a,
.show .navbar-nav .nav-item a:hover,
.sticky .navbar-nav .nav-item.active a,
.sticky .navbar-nav .nav-item a:hover {
  --text-opacity: 1;
  color: #361CC1;
  color: rgba(54, 28, 193, var(--text-opacity));
}

.gradient-btn {
  background-image: linear-gradient(to right, #fe8464 0%, #fe6e9a 50%, #fe8464 100%);
  background-size: 200% auto;
  overflow: hidden;
}

.gradient-btn-2 {
  background-image: linear-gradient(to right, #33c8c1 0%, #119bd2 50%, #33c8c1 100%);
}

.gradient-btn:hover {
  background-position: right center;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.main-btn {
  display: inline-block;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-weight: 500;
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
  transition-duration: 300ms;
  --bg-opacity: 1;
  background-color: #3182ce;
  background-color: rgba(49, 130, 206, var(--bg-opacity));
  border-radius: 0.5rem;
}

.main-btn:hover {
  --bg-opacity: 1;
  background-color: #63b3ed;
  background-color: rgba(99, 179, 237, var(--bg-opacity));
}

.header-hero {
  position: relative;
  z-index: 20;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.single-logo {
  max-width: 190px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-top: 2rem;
  transition-duration: 300ms;
  opacity: 0.5;
}

.section-title .line {
  background: linear-gradient(#fe8464 0%, #fe6e9a 100%);
  width: 10rem;
  height: 0.25rem;
  margin-bottom: 0.75rem;
}

.section-title .title {
  font-size: 32px;
  padding-top: 0.5rem;
  font-weight: 700;
}

.section-title .title span {
  font-weight: 400;
}

.single-services {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
  text-align: center;
  transition-duration: 300ms;
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  border-width: 2px;
  border-color: transparent;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.single-services:hover {
  --border-opacity: 1;
  border-color: #FE7A7B;
  border-color: rgba(254, 122, 123, var(--border-opacity));
}

.services-icon {
  position: relative;
  display: inline-block;
}

.services-icon img {
  transition-duration: 300ms;
}

.services-icon .shape-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.single-services:hover .services-icon .shape {
  transform: rotate(25deg);
}

.services-icon i {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1.875rem;
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
}

.about-shape-1 {
  z-index: -1;
  width: 35%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.about-shape-2 {
  z-index: -1;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.video-icon a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  border-radius: 9999px;
  --text-opacity: 1;
  color: #FE7A7B;
  color: rgba(254, 122, 123, var(--text-opacity));
}

.single-counter {
  width: 155px;
  height: 120px;
  border-radius: 60px;
  position: relative;
  z-index: 10;
  margin-top: 4rem;
}

.single-counter::before {
  content: '';
  border-radius: 60px;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  --transform-translate-x: 0;
  --transform-translate-y: 0;
  --transform-rotate: 0;
  --transform-skew-x: 0;
  --transform-skew-y: 0;
  --transform-scale-x: 1;
  --transform-scale-y: 1;
  transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
  --transform-rotate: -45deg;
}

.counter-color-1::before {
  background-image: linear-gradient(#33c8c1 0%,#119bd2 100%);
}

.counter-color-2::before {
  background-image: linear-gradient(#fe8464 0%,#fe6e9a 100%);
}

.counter-color-3::before {
  background-image: linear-gradient(#361cc1 0%,#2e82ef 100%);
}

.single-team {
  margin-left: 1rem;
  margin-right: 1rem;
  overflow: hidden;
  transition-duration: 300ms;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.single-team:hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.team-social {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 1.5rem;
}

.team-social ul {
  position: relative;
  z-index: 10;
  display: inline-flex;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  overflow: hidden;
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  --bg-opacity: 0.25;
  border-radius: 9999px;
}

.team-social ul::before {
  content: '';
  background-image: linear-gradient(#fe8464 0%,#fe6e9a 100%);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  transition-duration: 300ms;
  opacity: 0;
}

.single-team:hover .team-social ul::before {
  visibility: visible;
  opacity: 1;
}

.team-social ul a {
  display: inline-block;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
  transition-duration: 300ms;
}

.team-social ul a:hover {
  --text-opacity: 1;
  color: #361CC1;
  color: rgba(54, 28, 193, var(--text-opacity));
}

.single-testimonial {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  transition-duration: 300ms;
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  border-width: 2px;
  border-color: transparent;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.slick-current .single-testimonial,
.single-testimonial:hover {
  --border-opacity: 1;
  border-color: #FE7A7B;
  border-color: rgba(254, 122, 123, var(--border-opacity));
}

.slick-current .single-testimonial .quota i,
.single-testimonial:hover .quota i {
  --text-opacity: 1;
  color: #FE7A7B;
  color: rgba(254, 122, 123, var(--text-opacity));
}

.author-image .author {
  position: absolute;
  top: 0;
  left: 0;
  width: 5rem;
  height: 5rem;
  margin: 1rem;
  margin-top: 1rem;
}

.slick-slide:focus {
  outline: 0;
}

.slick-dots {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -2.5rem;
}

.slick-dots li {
  line-height: 1;
}

.slick-dots button {
  text-indent: -999999px;
  width: 0.75rem;
  height: 0.75rem;
  margin: 0.25rem;
  transition-duration: 300ms;
  --transform-translate-x: 0;
  --transform-translate-y: 0;
  --transform-rotate: 0;
  --transform-skew-x: 0;
  --transform-skew-y: 0;
  --transform-scale-x: 1;
  --transform-scale-y: 1;
  transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
  border-width: 0;
  border-radius: 9999px;
  opacity: 0.25;
  --bg-opacity: 1;
  background-color: #FE7A7B;
  background-color: rgba(254, 122, 123, var(--bg-opacity));
}

.slick-dots .slick-active button,
.slick-dots button:hover {
  --transform-scale-x: 1.25;
  --transform-scale-y: 1.25;
  opacity: 1;
}

.slick-dots button:focus {
  outline: 0;
}

.subscribe-form .main-btn {
  border-radius: 0 .25em .25em 0;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (max-width: 500px) {
  .container {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .subscribe-form .main-btn {
    position: static;
    width: 100%;
    margin-top: 1rem;
    border-radius: 0.25rem;
  }
}

.footer-bg {
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-social li a {
  display: inline-block;
  margin-right: 1.5rem;
  font-size: 1.5rem;
  --text-opacity: 1;
  transition-duration: 300ms;
}

.footer-social li a:hover {
  --text-opacity: 1;
  color: #FE7A7B;
  color: rgba(254, 122, 123, var(--text-opacity));
}

.contact li {
  margin-bottom: 0.75rem;
  --text-opacity: 1;
}

.link li a {
  display: inline-block;
  margin-bottom: 0.75rem;
  --text-opacity: 1;
  transition-duration: 300ms;
}

.link li a:hover {
  --text-opacity: 1;
  color: #FE7A7B;
  color: rgba(254, 122, 123, var(--text-opacity));
}

.back-to-top {
  background-image: linear-gradient(to right, #361cc1 0%,#2e82ef 100%);
  background-size: 200% auto;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  overflow: hidden;
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
  transition-duration: 300ms;
  border-radius: 0.25rem;
}

.back-to-top:hover {
  background-position: right;
}

@media (min-width: 640px){
  .sm\:container{
    width: 100%;
  }

  @media (min-width: 640px){
    .sm\:container{
      max-width: 640px;
    }
  }

  @media (min-width: 768px){
    .sm\:container{
      max-width: 768px;
    }
  }

  @media (min-width: 1024px){
    .sm\:container{
      max-width: 1024px;
    }
  }

  @media (min-width: 1280px){
    .sm\:container{
      max-width: 1280px;
    }
  }

  .sm\:inline-block{
    display: inline-block;
  }

  .sm\:text-4xl{
    font-size: 2.25rem;
  }

  .sm\:w-1\/2{
    width: 50%;
  }

  .sm\:w-1\/3{
    width: 33.333333%;
  }

  .sm\:w-2\/3{
    width: 66.666667%;
  }
}

@media (min-width: 768px){
  .md\:container{
    width: 100%;
  }

  @media (min-width: 640px){
    .md\:container{
      max-width: 640px;
    }
  }

  @media (min-width: 768px){
    .md\:container{
      max-width: 768px;
    }
  }

  @media (min-width: 1024px){
    .md\:container{
      max-width: 1024px;
    }
  }

  @media (min-width: 1280px){
    .md\:container{
      max-width: 1280px;
    }
  }

  .md\:px-12{
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .md\:w-1\/2{
    width: 50%;
  }

  .md\:w-2\/3{
    width: 66.666667%;
  }

  .md\:w-2\/5{
    width: 40%;
  }

  .md\:w-3\/5{
    width: 60%;
  }
}

@media (min-width: 1024px){
  .lg\:container{
    width: 100%;
  }

  @media (min-width: 640px){
    .lg\:container{
      max-width: 640px;
    }
  }

  @media (min-width: 768px){
    .lg\:container{
      max-width: 768px;
    }
  }

  @media (min-width: 1024px){
    .lg\:container{
      max-width: 1024px;
    }
  }

  @media (min-width: 1280px){
    .lg\:container{
      max-width: 1280px;
    }
  }

  .lg\:bg-transparent{
    background-color: transparent;
  }

  .lg\:block{
    display: block;
  }

  .lg\:flex{
    display: flex;
  }

  .lg\:hidden{
    display: none;
  }

  .lg\:justify-end{
    justify-content: flex-end;
  }

  .lg\:justify-between{
    justify-content: space-between;
  }

  .lg\:order-first{
    order: -9999;
  }

  .lg\:order-last{
    order: 9999;
  }

  .lg\:mt-0{
    margin-top: 0;
  }

  .lg\:mr-0{
    margin-right: 0;
  }

  .lg\:mt-12{
    margin-top: 3rem;
  }

  .lg\:pl-16{
    padding-left: 4rem;
  }

  .lg\:pt-48{
    padding-top: 12rem;
  }

  .lg\:static{
    position: static;
  }

  .lg\:shadow-none{
    box-shadow: none;
  }

  .lg\:w-auto{
    width: auto;
  }

  .lg\:w-1\/2{
    width: 50%;
  }

  .lg\:w-1\/3{
    width: 33.333333%;
  }

  .lg\:w-2\/3{
    width: 66.666667%;
  }

  .lg\:w-2\/6{
    width: 33.333333%;
  }
}

@media (min-width: 1280px){
  .xl\:container{
    width: 100%;
  }

  @media (min-width: 640px){
    .xl\:container{
      max-width: 640px;
    }
  }

  @media (min-width: 768px){
    .xl\:container{
      max-width: 768px;
    }
  }

  @media (min-width: 1024px){
    .xl\:container{
      max-width: 1024px;
    }
  }

  @media (min-width: 1280px){
    .xl\:container{
      max-width: 1280px;
    }
  }
}

